/* reset */
ul {
  list-style: none;
}

li {
  display: block;
}

a {
  display: block;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

address {
  font-family: inherit;
  font-style: inherit;
}

/* utils */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* global */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

section {
  margin-bottom: 94px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

/* header */
.header {
  height: 80px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 524px;
  width: 100%;
  gap: 8px;
}

.logo__link {
  padding: 24px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #2196f3;
}

.logo--header {
  color: #000000;
}

.navigation {
  max-width: 290px;
  width: 100%;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.navigation__item {
}

.navigation__link {
  padding: 32px 0;

  transition: color 250ms linear;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #2196f3;
}

.navigation__link--active {
  position: relative;
}

.navigation__link--active::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;

  height: 4px;
  width: 100%;

  background: #2196f3;
  border-radius: 2px;
}

.header__contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  row-gap: 8px;

  color: #757575;
}

.header__contacts-item {
}

.headed__contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 250ms linear, fill 250ms linear;
}

.headed__contacts-link:hover,
.headed__contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

/* hero */
.hero {
  height: 600px;
  background: #c4c4c4;
}

.hero__wraper {
  height: 100%;
  background-image: url("./images/bg-x1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  height: 100%;
}

.hero__h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero__btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: transform 250ms linear;
}

.hero__btn:hover,
.hero__btn:focus {
  transform: scale(1.05);
}

/* Ourfeatures */

.ourfeatures__blok-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.ourfeatures__icon {
  width: 70px;
  height: 70px;
}

.ourfeatures__blok {
  width: 270px;
}

.ourfeatures__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}

.ourfeatures__item-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.ourfeatures__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

/* Todo */

.todo__audio {
  margin: 0 auto 50px;
  width: 300px;
}

.todo__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.todo__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 24px;
}

.todo__item {
  width: 370px;
  height: 294px;
}

/* authentication */
.maim {
  background: #f5f4fa;
}

.auth {
  margin: 0 auto;
  padding: 24px 0;
  max-width: 450px;
}

.auth__title {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.auth__subtitle {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.auth__label {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.auth__sex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 8px;
  height: 29px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.auth__block {
  margin-bottom: 24px;
}

.auth__field {
  padding-left: 4px;
}

.auth__field,
.auth__sex--left {
  width: 200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.auth__sex--left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.auth__select {
  height: 29px;
}

.atuh__save {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 250ms linear;
}

.atuh__save:hover,
.atuh__save:focus {
  transform: scale(1.05);
}

@keyframes animate-one {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes animate-two {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
}

@keyframes animate-three {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-four {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.ourfeatures__item--one {
  animation-name: animate-one;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ourfeatures__item--two {
  animation-name: animate-two;
  animation-duration: 8s;

  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ourfeatures__item--three {
  animation-name: animate-three;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ourfeatures__item--four {
  animation-name: animate-four;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hero-color {
  0% {
    color: #ffffff;
  }
  100% {
    color: #dae42b;
  }
}

.hero:hover .hero__h1,
.hero:focus .hero__h1 {
  animation-name: hero-color;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* Ourteam */

.ourteam {
  background-color: #f5f4fa;
  padding: 96px 0 92px;
}

.ourteam__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.ourteam__list {
  display: flex;
  gap: 30px;
}

.ourteam__item {
  width: 270px;
}

.ourteam__blok {
  padding-bottom: 30px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam__phouto {
  margin-bottom: 30px;
}

.ourteam__fullname {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
}

.ourteam__work {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.ourteam__social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ourteam__social-iteam {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.ourteam__social-iteam:hover,
.ourteam__social-iteam:hover .ourteam__icon,
.ourteam__social-iteam:focus,
.ourteam__social-iteam:focus .ourteam__icon {
  background-color: #2196f3;
  fill: #ffffff;
  cursor: pointer;
  transition: color 250ms linear, fill 250ms linear;
}

.ourteam__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/* Costomers */

.costomers {
  padding: 87 0 94;
}

.costomers__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.costomers__list {
  display: flex;
  justify-content: space-between;
}

.costomers__item:hover,
.costomers__item:focus {
  border: solid #2196f3;
  cursor: pointer;
  transition: color 250ms linear, fill 250ms linear;
}
.costomers__item:hover .costomers__icon,
.costomers__item:focus .costomers__icon {
  fill: #2196f3;
  transition: color 250ms linear, fill 250ms linear;
}

.costomers__item {
  width: 170px;
  height: 92px;
  fill: #afb1b8;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.costomers__icon {
  fill: #afb1b8;
}

/* Footer */

.footer {
  background-color: #2f303a;
}
.footer__blok {
  display: flex;
  gap: 94px;
}
.footer__blok-inform {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fototer__logo {
  margin-bottom: 28px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #2196f3;
}

.logo--footer {
  color: #ffffff;
}

.footer__address {
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer__blok-inform--list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer__blok-inform--item {
  margin-bottom: 12px;
}

.footer__social-blok {
  padding-top: 72px;
}

.footer__social-blok2 {
}

.footer__word {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__social-iteam {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer__social-iteam:hover,
.footer__social-iteam:hover .footer__icon,
.footer__social-iteam:focus,
.footer__social-iteam:focus .footer__icon {
  background-color: #2196f3;
  fill: #ffffff;
  cursor: pointer;
  transition: color 250ms linear, fill 250ms linear;
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/* Portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__list-button {
  margin-bottom: 34px;

  display: flex;
  gap: 8px;
  justify-content: center;
}

.portfolio__item-button:hover,
.portfolio__btn:hover,
.portfolio__item-button:focus,
.portfolio__btn:focus {
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: color 250ms linear, fill 250ms linear;
}
.portfolio__btn {
  padding-left: 22px;
  padding-right: 22px;
  width: auto;
  height: 38px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  background: #f5f4fa;
  border: none;
  border-radius: 4px;
}

.portfolio__picture {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.portfolio__picture-item {
  height: 404px;
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio__picture-item:hover,
.portfolio__picture-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: color 250ms linear, fill 250ms linear;
}

.portfolio__fullname {
  margin-top: 20px;
  margin-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio__secton {
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.03em;

  color: #757575;
}

@media screen and (max-width: 1199px) {
  section {
    margin-bottom: 60px;
  }

  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 768px;
  }

  .header__nav-wraper {
    max-width: 524px;
    width: 100%;
    gap: 8px;
  }

  .logo {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }

  .navigation {
    max-width: 290px;
    width: 100%;
  }

  .navigation__link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }

  .header__contacts-list {
    justify-content: left;
    width: 160px;
  }

  .headed__contacts-link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }

  /* hero */
  .hero {
    height: 600px;
  }

  .hero__wraper {
    height: 100%;
  }

  .hero__h1 {
    font-size: 26px;
    line-height: 42px;
  }

  /* Ourfeatures */

  .ourfeatures__blok-icon {
    width: 344px;
  }

  .ourfeatures__blok {
    width: 344px;
  }

  /* Todo */
  .todo__title {
    font-size: 28px;
    line-height: 33px;
  }

  .todo__item {
    width: 340px;
    height: 270px;
  }

  /* Ourteam */
  .ourteam {
    padding: 60px 0;
  }

  .ourteam__title {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 33px;
  }

  .ourteam__list {
    flex-wrap: wrap;
  }

  .ourteam__item {
    width: 354px;
  }

  .ourteam__phouto {
    margin-bottom: 30px;
    width: 354px;
    height: 374px;
  }

  /* Costomers */
  .costomers {
    padding: 60 0;
  }

  .costomers__title {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 33px;
  }

  .costomers__list {
    flex-wrap: wrap;
    gap: 30px;
  }

  .costomers__item {
    width: 226px;
    height: 92px;
  }

  /* Footer */
  .footer__blok {
    display: flex;
    justify-content: space-around;
  }

  .footer__blok-inform2,
  .footer__social-blok2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
  }

  /* Portfolio */
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .portfolio__list-button {
    margin-bottom: 30px;
  }

  .portfolio__picture {
    justify-content: space-between;
  }

  .portfolio__picture-item {
    height: 440px;
    width: 354px;
  }

  .auth__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }

  /* header */
  .header {
    height: 64px;
  }

  .header__nav-wraper {
    justify-content: center;
    gap: 0;
  }

  .navigation__link {
    height: 56px;
  }

  .navigation__link .navigation__link--active {
    height: 56px;
  }

  .logo__link {
    display: none;
  }

  .header__contacts-list {
    display: none;
  }

  /* hero */
  .hero {
    height: 400px;
  }

  .hero__wraper {
    height: 100%;
    background-image: url("./images/bg-x1-mob.jpg");
  }

  .hero__h1 {
    font-size: 26px;
    line-height: 42px;
  }

  /* Ourfeatures */
  .ourfeatures__blok-icon {
    width: 300px;
  }

  .ourfeatures__blok {
    width: 300px;
  }

  /* Todo */
  .todo__title {
    margin-bottom: 30px;

    font-size: 28px;
  }

  /* Ourteam */
  .ourteam__title {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 33px;
  }

  .ourteam__list {
    justify-content: center;
  }

  .ourteam__item {
    max-width: 450px;
  }

  .ourteam__phouto {
    max-width: 450px;
    width: 100%;
    height: auto;
  }

  /* Costomers */
  .costomers__title {
    font-size: 28px;
    line-height: 33px;
  }

  .costomers__list {
    display: flex;
    gap: 30px;
  }

  .costomers__list li {
    max-width: 210px;
    width: calc((100% - 30px) / 2);
  }

  .costomers__item {
    width: 100%;
  }

  /* Footer */
  .footer__blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .footer__blok-inform {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .footer__social-blok {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  /* Portfolio */

  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .portfolio__list-button {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio__picture {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .portfolio__picture-item {
    height: 404px;
    width: 450px;
  }

  .portfolio__phouto {
    width: 450px;
    max-height: 294px;
  }
}

@media screen and (max-width: 379px) {
  .auth__field,
  .auth__sex--left {
    width: 150px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
  }

  .auth__sex--left {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
