/* reset */
ul {
  list-style: none;
}

li {
  display: block;
}

a {
  display: block;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

address {
  font-family: inherit;
  font-style: inherit;
}

/* utils */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* global */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

section {
  margin-bottom: 94px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

/* header */
.header {
  height: 80px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 524px;
  width: 100%;
  gap: 8px;
  /* gap: 93px; */
}

.logo__link {
  padding: 24px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #2196f3;
}

.logo--header {
  color: #000000;
}

.navigation {
  max-width: 290px;
  width: 100%;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  /* gap: 50px; */
}

.navigation__item {
}

.navigation__link {
  padding: 32px 0;

  transition: color 250ms linear;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #2196f3;
}

.navigation__link--active {
  position: relative;
}

.navigation__link--active::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;

  height: 4px;
  width: 100%;

  background: #2196f3;
  border-radius: 2px;
}

.header__contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  row-gap: 8px;

  color: #757575;
}

.header__contacts-item {
}

.headed__contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;

  /* padding: 32px 0; */

  transition: color 250ms linear, fill 250ms linear;
}

.headed__contacts-link:hover,
.headed__contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

/* hero */
.hero {
  height: 600px;
  background: #c4c4c4;
}

.hero__wraper {
  height: 100%;
  background-image: url("./images/bg-x1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  height: 100%;
}

.hero__h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero__btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: transform 250ms linear;
}

.hero__btn:hover,
.hero__btn:focus {
  transform: scale(1.05);
}

/* Ourfeatures */
.ourfeatures {
}

.ourfeatures__blok-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.ourfeatures__icon {
  width: 70px;
  height: 70px;
}

.ourfeatures__title {
}
.ourfeatures__blok {
  width: 270px;
}

.ourfeatures__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}

.ourfeatures__item {
}

.ourfeatures__item-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.ourfeatures__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

/* Todo */
.todo {
}

.todo__audio {
  margin: 0 auto 50px;
  width: 300px;
}

.todo__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.todo__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 24px;
}

.todo__item {
}

/* authentication */
main .container {
  /* padding-left: 20px; */
}

.auth {
  margin: 0 auto;
  padding: 24px 0;
  max-width: 450px;
}

.auth__title {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.auth__subtitle {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.auth__label {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.auth__sex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 8px;
  height: 29px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.auth__block {
  margin-bottom: 24px;
}

.auth__field {
  padding-left: 4px;
}

.auth__field,
.auth__sex--left {
  width: 200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.auth__sex--left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.auth__select {
  height: 29px;
}

.atuh__save {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 250ms linear;
}

.atuh__save:hover,
.atuh__save:focus {
  transform: scale(1.05);
}

@keyframes animate-one {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes animate-two {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
}

@keyframes animate-three {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-four {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.ourfeatures__item--one {
  animation-name: animate-one;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ourfeatures__item--two {
  animation-name: animate-two;
  animation-duration: 8s;

  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ourfeatures__item--three {
  animation-name: animate-three;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ourfeatures__item--four {
  animation-name: animate-four;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hero-color {
  0% {
    color: #ffffff;
  }
  100% {
    color: #dae42b;
  }
}

.hero:hover .hero__h1 {
  animation-name: hero-color;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: linear;
}
